doctype html

html(style={margin: '5%'})
    include ../partials/head.pug
    body
        section(class="container-fluid")
            div(class="row col-4" style='background-color:#f4f4f4; padding: 5%;')
                form(action="/", method="post")
                    div(class="mb-3")
                        label(for="name" class="form-label") Nombre
                        input(type="text" class="form-control" id="name" name="name" placeholder="Jancho" required) 

                    input(class="btn btn-primary btn-sm" type="submit", id="enviar", value="Enviar")